<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <style>
        #tree { overflow:auto; border:1px solid silver; min-height:100px; }
    </style>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Справочник услуг</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form action="/upload" method="post" name="upload-form" id="uploadForm" enctype="multipart/form-data">
                <h4>Загрузить новый справочник</h4>
                <p>
                    <input type="file" name="file" id="file">
                </p>
                <p>
                    <button id="submit" type="submit">Загрузить</button>
                </p>
            </form>
        </div>
        <div class="col-sm-6">
                <h4>Поиск</h4>
                <p>
                    <button id="search" style="width: 15%">Искать</button>
                    <input type="text" name="term" id="term" placeholder="Введите ID или Название" style="width: 71%">
                    <button id="reset" style="width: 12%">Сброс.</button>
                </p>

        </div>
    </div>
    <div class="row">
        <h4>Список услуг</h4>

            <div class="col-sm-12">
                <div id="tree" style="height: 2000px"></div>
            </div>

    </div>
</div>
<script>
$(function () {
    var tree = $('#tree').jstree( {
        'core' : {
            'data' : {
                "url" : "/list",
                "dataType" : "json"
            }
        }
    });

    $('#search').click(function() {
        var term = $('#term').val();
        tree.jstree(true).settings.core.data.url = '/search/' + term;
        tree.jstree('refresh');
    });

    var form = $('#uploadForm');
    $(form).submit(function (e) {
        e.preventDefault();
    });

    function validateFile() {
        var fileSize = $('#file')[0].files[0] ? $('#file')[0].files[0].size : 0;
        if (fileSize > 50 * 1024 * 1024) {
            $('.js-fileName').html('Файл не должен превышать 15 Мб!');
            return false;
        } else {
            return true;
        }
    }
    $(form).validate( {
        submitHandler: function (form) {
            if (validateFile()) {
                var data = new FormData(form);
                $.ajax({
                    type: 'POST',
                    data: data,
                    url: '/upload',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#submit').html('Услуги успешно загружены!');
                        tree.jstree('refresh');
                        setTimeout(function() {
                            $('#submit').removeAttr('disabled').html('Загрузить');
                        }, 2000);
                    },
                    error: function (xhr) {
                        $('.js-fileName').html(xhr.responseText);
                    }
                });
                $('#submit').html('Обработка данных...').prop('disabled', 'disabled');
            }
        }
    });

    $('#reset').click(function () {
        $('#term').val('');
        tree.jstree('refresh');
    });
})
</script>
</body>
</html>
